body {
  padding-left: 2em;
  padding-right: 2em;
}

.blocklyDisabled text {
  transform: translate(-10px, 4px) !important;
  cursor: default !important;
}

g.blocklyDisabled path.blocklyPath {
  fill: #000 !important;
  transform: translateX(-25px) !important;
  cursor: default !important;
}



pre {
  border: 1px solid gray;
  padding: 10px;
}

.ember-blockly-container {
  border: 1px solid red;

  width: 800px;
  height: 400px;
}
