<div class="flexbox-container flexbox-direction-row">
  {{#if showCode}}
    <pre class="code-preview"><span>// Código que generará este bloque:</span>

{{javascriptCode}}</pre>
  {{/if}}

  <div style="position: absolute"></div>
</div>
