<div id="blocklyDiv" style="height: 480px; width: 600px;"></div>

<xml id="toolbox" style="display: none">

  <block type="math_number"></block>

  <sep gap="100"></sep>

  <block type="math_arithmetic">
    <field name="OP">ADD</field>
  </block>

</xml>
