<h1>ember-blockly</h1>

<h2>Simple usage</h2>

<p>
\{{ember-blockly blocks=blocks_array withZoom=true withTrash=true}}
</p>

{{ember-blockly
      blocks=blocks
      withZoom=true
      withTrash=true}}
