<h1>ember-blockly</h1>

{{#link-to "index" class="c-button c-button--ghost"}}Simple{{/link-to}}
{{#link-to "flexbox" class="c-button c-button--ghost"}}Flexbox{{/link-to}}
{{#link-to "parameters" class="c-button c-button--ghost"}}Parameters{{/link-to}}
{{#link-to "context" class="c-button c-button--ghost"}}Changing context and reload{{/link-to}}
{{#link-to "categories" class="c-button c-button--ghost"}}Toolbox with categories{{/link-to}}
{{#link-to "contextMenu" class="c-button c-button--ghost"}}Context menu{{/link-to}}
{{#link-to "highlight" class="c-button c-button--ghost"}}Blocks highlight{{/link-to}}

{{outlet}}


<p style="color: gray; padding-top: 2em; padding-bottom: 2em;">
  ver: <span class="c-badge">{{app-version}}</span>
</p>
