<h2>Block catalog</h2>

<p>Show all block in a list with a simple preview</p>

<pre>\{{<b>ember-blockly-catalog</b> onlyCustom=true showCode=true}}</pre>

{{ember-blockly-catalog onlyCustom=true showCode=true}}

<hr/>

<pre>\{{<b>ember-blockly-catalog</b> onlyCustom=false showCode=true}}</pre>

{{ember-blockly-catalog onlyCustom=false showCode=true}}
