
<h2>Use inside flexbox</h2>

<p>ember-blockly can be inyected into a flexbox layout easily, you
  only need to define a flexbox and include the ember-blockly component
  inside it.</p>

<p>But remember, if you change some attribute or classs related
  to blockly layout you also need to trigger the resize event:</p>

<pre>setTimeout(() => {
  $(window).trigger('resize');
}, 1);
</pre>

<p><button {{action "flipFlexboxDirection"}}>flip flexbox direction</button></p>


<div class="flexbox-container {{if flexboxColumn 'flexbox-direction-column' 'flexbox-direction-row'}}">
  <div class="column yellow">A</div>
  <div class="column red">
    {{ember-blockly
      withZoom=true
      withTrash=true
    }}
  </div>
  <div class="column blue">C</div>
</div>
