<h2>Simple usage</h2>

<pre>\{{<b>ember-blockly</b> <b>blocks</b>=blocks_array_or_xml_string <b>withZoom</b>=true <b>withTrash</b>=true}}</pre>

{{ember-blockly
      blocks=blocks
      withZoom=true
      withTrash=true}}
