<h2>Simple usage</h2>

<pre>\{{<b>ember-blockly</b>
  <b>blocks</b>=blocks_array_or_xml_string
  <b>disableNotConnectedToMainBlock</b>=true
  <b>withZoom</b>=true
  <b>showCode</b>=true
  <b>withTrash</b>=false}}</pre>

{{ember-blockly
      blocks=blocks
      withZoom=true
      workspace=xml
      disableNotConnectedToMainBlock=true
      showCode=true
      withTrash=false}}
